<!--<mat-grid-list [cols]="12" rowHeight="4rem">-->

<!--  <mat-grid-tile [colspan]="4" [rowspan]="10">-->
<mat-card>
  <mat-card-header>
    <div class="row col-12 col-md-12">
      <div class="col-6 col-md-6">
        <mat-card-title>Prescription Details Management</mat-card-title>
      </div>
      <div class="col-6 col-md-6 text-right button-pannel">
        <!--        <button *ngIf="!isCreate" mat-raised-button color="primary" style="background: #13bcb1 !important;" class="header-btn-add" (click)="book()">-->
        <!--          <mat-icon>add</mat-icon>-->
        <!--          Book-->
        <!--        </button>-->

        <button *ngIf="isFormEnable" mat-raised-button color="primary" class="header-btn-add"
                (click)="back()">
          <mat-icon>arrow_back_ios</mat-icon>
          Back
        </button>
        <button *ngIf="isFormEnable" mat-raised-button (click)="save()" class="btn-save"
                >
          <mat-icon>save</mat-icon>
          Save
        </button>
        <!--        <button *ngIf="formNo==3" mat-raised-button (click)="clear()" class="btn-clear-form" [disabled]="!isCreate">-->
        <!--          <mat-icon> clear_all</mat-icon>-->
        <!--          Clear-->
        <!--        </button>-->
      </div>
    </div>

  </mat-card-header>
  <mat-card-content id="form">
    <div class="table-container" *ngIf="!isFormEnable">
      <mat-card id="ssearch" class="search-container">
        <mat-card-content>
          <mat-form [formGroup]="ssearch">
            <div class="row">
              <div class="col-4 col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Patinet Name</mat-label>
                  <input matInput formControlName="ssName">
                </mat-form-field>
              </div>

              <div class="col-4 col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Patient NIC</mat-label>
                  <input matInput formControlName="ssNic">
                </mat-form-field>
              </div>

              <div class="col-4 col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Appointment No</mat-label>
                  <input matInput formControlName="ssAppointmentNo">
                </mat-form-field>
              </div>

            </div>
            <div class="row search-btn-container">
              <div class="col-4 col-md-4">
                <button mat-raised-button color="primary" class="btn-search search-container-btn"
                        style="margin-left: -5px;" (click)="btnSearchMc()">
                  <mat-icon>search</mat-icon>
                  Search
                </button>
                <button mat-raised-button color="primary" class="btn-clear search-container-btn"
                        (click)="btnSearchClearMc()">
                  <mat-icon>reorder</mat-icon>
                  Clear
                </button>
              </div>
            </div>
          </mat-form>
        </mat-card-content>
      </mat-card>

      <mat-form-field class="table-filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>

      <div class="mat-elevation-z2">
        <table mat-table id="tblAll" [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="doctor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Doctor</th>
            <td mat-cell *matCellDef="let row" class="mat-column-doctor">
              {{ row.schedule.doctor.title }} {{ row.schedule.doctor.firstName }} {{ row.schedule.doctor.lastName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="patient">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Patient</th>
            <td mat-cell *matCellDef="let row" class="mat-column-patient">
              {{ row.patient.title }} {{ row.patient.firstName }} {{ row.patient.lastName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="nic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Patient NIC</th>
            <td mat-cell *matCellDef="let row" class="mat-column-nic">{{ row.patient.nic }}</td>
          </ng-container>

          <ng-container matColumnDef="appointmentNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Appointment No</th>
            <td mat-cell *matCellDef="let row" class="mat-column-appointmentNo">{{ row.appointmentNo }}</td>
          </ng-container>

          <ng-container matColumnDef="startTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>start Time</th>
            <td mat-cell *matCellDef="let row" class="mat-column-time">{{ convertTo12HourFormat(row.startTime) }}</td>
          </ng-container>

          <ng-container matColumnDef="endTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>End Time</th>
            <td mat-cell *matCellDef="let row" class="mat-column-time">{{ convertTo12HourFormat(row.endTime) }}</td>
          </ng-container>

          <ng-container matColumnDef="prescription">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Prescription</th>
            <td mat-cell *matCellDef="let row">
              <button mat-raised-button color="primary" class="header-btn-add" id='btnBook' (click)="create(row)"
                      [disabled]="row.status != 1">
                <mat-icon>add</mat-icon>
                Register Prescription
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
            <td mat-cell *matCellDef="let row">
              <ng-container *ngIf="row.status == 3">
                <button mat-icon-button class="btn-edit view" (click)="fillForm(row)">
                  <mat-icon>edit</mat-icon>
                </button>
              </ng-container>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100, 200]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
    <div *ngIf="isFormEnable" class="form-container">


      <!--        <div class="col-md-4 docDetail_div">-->
      <!--          <h2 class="drName">{{ doctorName.toUpperCase() }}</h2>-->
      <!--          <hr>-->
      <!--          <h2 style="color: gray">{{ speciality.toUpperCase() }}</h2>-->
      <!--          &lt;!&ndash;          <mat-label>{{ doctorName }}</mat-label>&ndash;&gt;-->

      <!--        </div>-->
      <div class="col-md-12" style="padding-top: 15px">
        <h4>Appointment Information</h4>
        <hr>
      </div>

      <div class="row" style="padding: 10px 35px">
        <div class="col-2 col-md-2 form-field">
          <span class="lbl">Reference Number   :</span>
        </div>
        <div class="col-2 col-md-2 form-field text">
          <span> RX{{ prescription.referenceNo }}</span>
        </div>
      </div>
      <div class="row" style="padding: 5px 35px">
        <div class="col-2 col-md-2 form-field">
          <span class="lbl">Appointment Date   :</span>
        </div>
        <div class="col-2 col-md-2 form-field text">
          <span>{{ prescription.appointment.appointmentDate }}</span>
        </div>
      </div>
      <div class="row" style="padding: 5px 35px">
        <div class="col-2 col-md-2 form-field">
          <span class="lbl">Appointment No   :</span>
        </div>
        <div class="col-2 col-md-2 form-field text">
          <span>{{ prescription.appointment.appointmentNo }}</span>
        </div>
      </div>
      <div class="row" style="padding: 5px 35px">
        <div class="col-2 col-md-2 form-field">
          <span class="lbl">Doctor   :</span>
        </div>
        <div class="col-2 col-md-2 form-field text">
            <span>{{ prescription.appointment.schedule.doctor.title }}
              . {{ prescription.appointment.schedule.doctor.firstName }} {{ prescription.appointment.schedule.doctor.lastName }} </span>
        </div>
      </div>
      <div class="row"></div>
      <div class="row" style="padding: 5px 35px">
        <div class="col-2 col-md-2 form-field">
          <span class="lbl">Patient Name   :</span>
        </div>
        <div class="col-2 col-md-2 form-field text">
            <span>{{ prescription.appointment.patient.title }}
              . {{ prescription.appointment.patient.firstName }} {{ prescription.appointment.patient.lastName }} </span>
        </div>
      </div>
      <div class="row" style="padding: 5px 35px">
        <div class="col-2 col-md-2 form-field">
          <span class="lbl">Patient NIC   :</span>
        </div>
        <div class="col-2 col-md-2 form-field text">
          <span>{{ prescription.appointment.patient.nic }}</span>
        </div>
      </div>

      <mat-form [formGroup]="desForm">
        <div class="row" style="padding: 10px 35px">
          <div class="col-5 col-md-5 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description" rows="4"></textarea>
            </mat-form-field>
          </div>
        </div>
      </mat-form>

      <mat-form [formGroup]="form">
        <div class="row" style="padding: 15px 35px">
          <div class="col-2 col-md-2 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Drug</mat-label>
              <mat-select formControlName="drug">
                <mat-option [value]="null" selected>Not Selected</mat-option>
                <mat-option *ngFor="let drug of drugs" [value]="drug">{{ drug.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-2 col-md-2 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Dosage</mat-label>
              <input matInput formControlName="dosage">
            </mat-form-field>
          </div>

          <div class="col-4 col-md-4 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Instruction</mat-label>
              <input matInput formControlName="instruction">
            </mat-form-field>
          </div>
          <div class="col-2 col-md-2 form-field">
            <button mat-raised-button color="primary" class="header-btn-add" (click)="addRow()">
              <mat-icon>add</mat-icon>
              Add
            </button>
          </div>

        </div>
      </mat-form>

      <div class="mat-elevation-z2 tblDrug" *ngIf="drugDataSource.data.length > 0">
        <table mat-table [dataSource]="drugDataSource" matSort>

          <ng-container matColumnDef="drug">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Drug</th>
            <td mat-cell *matCellDef="let row" class="mat-column-doctor">
              {{ row.drug.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="dosage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dosage</th>
            <td mat-cell *matCellDef="let row" class="mat-column-patient">
              {{ row.dosage }}
            </td>
          </ng-container>

          <ng-container matColumnDef="instruction">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Instruction</th>
            <td mat-cell *matCellDef="let row" class="mat-column-patient">
              {{ row.instruction }}
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button class="btn-edit" (click)="editRow(row)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="remove">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Remove</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button class="btn-delete" id='btnRemove' (click)="removeRow(row)">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedDrugColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedDrugColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100, 200]" aria-label="Select page of users"></mat-paginator>
      </div>


    </div>
  </mat-card-content>
</mat-card>





