<mat-grid-list [cols]="8" rowHeight="8rem">
  <mat-grid-tile [colspan]="8" [rowspan]="6">

    <mat-card>
      <mat-card-header style="padding: 0px 0px !important;">
        <mat-card-title>
          <div class="title-with-image">
            <img src="/assets/login.png" style="width: 100% !important;" alt="Logo">
          </div>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <form [formGroup]="loginform">

          <mat-form-field appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="username" autocomplete="off">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>

          <mat-card-actions align="end">
            <button btn-login mat-raised-button (click)="authenticate()">Login</button>
            <!--            <button btn-signup mat-raised-button (click)="signup()">Sign Up</button>-->
          </mat-card-actions>
        </form>
      </mat-card-content>

    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
