<mat-grid-list gutterSize="7" [cols]="4" rowHeight="4rem">

  <mat-grid-tile [colspan]="4" [rowspan]="2" >
    <mat-card style="border-width: 2px; border-radius: 0px; border-style: solid; border-image: linear-gradient(to right, #01b6ad 85%, #0271b9); border-image-slice: 1;"><img id="headImg" src="assets/title_img.png"></mat-card>
  </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="4" id="quicklinks" *ngIf="aur.getUserRole() == UserRole.Admin || aur.getUserRole() == UserRole.Receptionist">
      <mat-card *ngIf="aur.getUserRole() == UserRole.Admin || aur.getUserRole() == UserRole.Receptionist">
        <mat-card-content>
          <div class="row" style="display: flex; flex-direction: row; width: 300px; height: 93px;">
            <img  src="assets/appointment.png" style="height: 40px; width: 30%;">
            <div style="padding-top: 10%; padding-bottom: 10%; padding-left: 10%;">
              <a routerLink="/main/appointment">Book Appointments</a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="aur.getUserRole() == UserRole.Admin || aur.getUserRole() == UserRole.Receptionist">
        <mat-card-content>
          <div class="row" style="display: flex; flex-direction: row; width: 300px; height: 93px;">
            <img  src="assets/register1.png" style="height: 40px; width: 30%;">
            <div style="padding-top: 13%; padding-bottom: 10%; padding-left: 10%;">
              <a routerLink="/main/patient">Register Patient</a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card hidden="true">
        <mat-card-content style="height: 90px">
          <div class="row" style="display: flex; flex-direction: row; width: 265px; height: 93px;">
            <img  src="assets/reports.png" style="height: 40px; width: 30%;">
            <div style="padding-top: 13%; padding-bottom: 10%; padding-left: 10%;">
              <a routerLink="batchregistration">View Reports</a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>


    </mat-grid-tile>
<!--  <ng-container *ngFor="let row in appointments"></ng-container>-->
<!--  <mat-grid-tile [colspan]="4" [rowspan]="4">-->
<!--    -->
<!--    <div class="col-md-4 docDetail_div">-->
<!--      <h2 class="drName">{{ doctorName.toUpperCase() }}</h2>-->
<!--      <hr>-->
<!--      <h2 style="color: gray">{{ speciality.toUpperCase() }}</h2>-->

<!--    </div>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-list cols="3" rowHeight="1:1">-->
    <mat-grid-tile *ngFor="let ap of appointments" [colspan]="1" [rowspan]="3">
      <div class="docDetail_div">
        <h2 class="drName">{{ ap.schedule.doctor.title.toUpperCase() }} {{ ap.schedule.doctor.firstName.toUpperCase() }} {{ ap.schedule.doctor.lastName.toUpperCase() }}</h2>
        <h2 style="color: gray">{{ ap.schedule.doctor.speciality.name.toUpperCase() }}</h2>
        <hr>
        <h2 style="color: gray">Appointments: <span style="color: #04c0b8; margin-left: 60px">{{ ap.appointmentNo }}</span></h2>
      </div>
    </mat-grid-tile>
<!--  </mat-grid-list>-->
  <ng-container *ngIf="aur.getUserRole() == UserRole.Doctor">
    <mat-grid-tile [colspan]="4" [rowspan]="1" style="background: lightcyan" *ngIf="upcomings.length>0">
      <h2 style="text-align: right;">My Upcoming Schedules</h2>
      <hr>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let ap of appointments" [colspan]="1" [rowspan]="3">
      <div class="docDetail_div">
        <h2 class="drName">{{ ap.schedule.doctor.title.toUpperCase() }} {{ ap.schedule.doctor.firstName.toUpperCase() }} {{ ap.schedule.doctor.lastName.toUpperCase() }}</h2>
        <h2 style="color: gray">{{ ap.schedule.doctor.speciality.name.toUpperCase() }}</h2>
        <hr>
        <h2 style="color: gray">
          <span style="margin-right: 90px;">{{ ap.appointmentDate }}</span>
          <span style="color: #04c0b8">{{ ap.appointmentNo }}</span>
        </h2>
      </div>
    </mat-grid-tile>
  </ng-container>






  <!--  <mat-grid-tile [colspan]="4" [rowspan]="4" id="quicklinks">-->
<!--    <mat-card>-->
<!--      <mat-card-content><img  src="assets/payment.png"></mat-card-content>-->
<!--      <mat-card-footer ><a routerLink="payments">Payments</a></mat-card-footer>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content><img  src="assets/register.png"></mat-card-content>-->
<!--      <mat-card-footer ><a routerLink="batchregistration" >Register</a></mat-card-footer>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content><img  src="assets/studnet.png"></mat-card-content>-->
<!--      <mat-card-footer ><a routerLink="students">Student</a></mat-card-footer>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content><img  src="assets/classshedule.png"></mat-card-content>-->
<!--      <mat-card-footer ><a routerLink="classes">Classes</a></mat-card-footer>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content><img  src="assets/tutes.png"></mat-card-content>-->
<!--      <mat-card-footer ><a routerLink="books">Books</a></mat-card-footer>-->
<!--    </mat-card>-->

<!--    <mat-card>-->
<!--      <mat-card-content><img  src="assets/attendence.png"></mat-card-content>-->
<!--      <mat-card-footer ><a routerLink="attendance">Attendance</a></mat-card-footer>-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->

<!--  <mat-grid-tile [colspan]="2" [rowspan]="4" >-->
<!--    <mat-card>-->
<!--      <mat-card-title style="background-image: url('assets/header2img.png')">User Specific Messages</mat-card-title>-->
<!--      <mat-card-content >-->
<!--        <mat-list>-->
<!--          <mat-list-item *ngFor="let message of userspecmessages">-->
<!--            <mat-icon matListItemIcon> email</mat-icon>-->
<!--            <div matListItemTitle >{{message.name}}</div>-->
<!--            <div matListItemLine>{{message.updated | date}}</div>-->
<!--          </mat-list-item>-->
<!--        </mat-list>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->


<!--  <mat-grid-tile [colspan]="2" [rowspan]="4" >-->
<!--      <mat-card>-->
<!--        <mat-card-title style="background-image: url('assets/header2img.png')">General Messages</mat-card-title>-->
<!--        <mat-card-content >-->
<!--          <mat-list>-->
<!--            <mat-list-item *ngFor="let message of generalmessages">-->
<!--              <mat-icon matListItemIcon> email</mat-icon>-->
<!--              <div matListItemTitle >{{message.name}}</div>-->
<!--              <div matListItemLine>{{message.updated | date}}</div>-->
<!--            </mat-list-item>-->
<!--          </mat-list>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->
<!--  </mat-grid-tile>-->

</mat-grid-list>
