<mat-card>
  <mat-card-header>
    <div class="row col-12 col-md-12">
      <div class="col-6 col-md-6">
        <mat-card-title>Room Details Management</mat-card-title>
      </div>
      <div class="col-6 col-md-6 text-right button-pannel">

        <button mat-raised-button (click)="save()" class="btn-save"
                [disabled]="!authService.getEnaAdd()">
          <mat-icon>save</mat-icon>
          Save
        </button>
        <button mat-raised-button (click)="clear()" class="btn-clear-form">
          <mat-icon> clear_all</mat-icon>
          Clear
        </button>
      </div>
    </div>

  </mat-card-header>
  <mat-card-content id="form">

    <div class="form-container">
      <mat-form [formGroup]="form">
        <div class="col-md-12">
          <h4>Room Information</h4>
          <hr>
        </div>
        <div class="row" style="padding: 15px 15px">
          <div class="col-6 col-md-6 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Room Number</mat-label>
              <input matInput formControlName="number" readonly>
            </mat-form-field>
          </div>

          <div class="col-6 col-md-6 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Equipments</mat-label>
              <textarea matInput formControlName="equipments"></textarea>
            </mat-form-field>
          </div>

          <input matInput formControlName="status" hidden="hidden">

        </div>
      </mat-form>
    </div>
    <div class="table-container">
      <mat-form-field class="table-filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>

      <div class="mat-elevation-z2">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Room Number</th>
            <td mat-cell *matCellDef="let row"> {{ row.number }}</td>
          </ng-container>

          <ng-container matColumnDef="equipments">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipments</th>
            <td mat-cell *matCellDef="let row"> {{ row.equipments }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row"> {{ row.status }}</td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button class="btn-edit" (click)="fillForm(row)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button class="btn-delete" (click)="delete(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100, 200]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>





