<mat-card>
  <mat-card-header>
    <div class="row col-12 col-md-12">
      <div class="col-6 col-md-6">
        <mat-card-title>Doctor Details Management</mat-card-title>
      </div>
      <div class="col-6 col-md-6 text-right button-pannel">
        <button *ngIf="!isFormEnable" mat-raised-button color="primary" class="header-btn-add" (click)="create()">
          <mat-icon>add</mat-icon>
          Add
        </button>

        <button *ngIf="isFormEnable" mat-raised-button color="primary" class="header-btn-add" (click)="back()">
          <mat-icon>arrow_back_ios</mat-icon>
          Back
        </button>
        <button *ngIf="isFormEnable" mat-raised-button (click)="save()" class="btn-save"
                [disabled]="!isCreate && doctor.status == 0">
          <mat-icon>save</mat-icon>
          Save
        </button>
        <button *ngIf="isFormEnable" mat-raised-button (click)="clear()" class="btn-clear-form">
          <mat-icon> clear_all</mat-icon>
          Clear
        </button>
      </div>
    </div>

  </mat-card-header>
  <mat-card-content id="form">
    <div class="table-container" *ngIf="!isFormEnable">
      <mat-card id="ssearch" class="search-container">
        <mat-card-content>
          <mat-form [formGroup]="ssearch">
            <div class="row">
              <div class="col-4 col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="ssName">
                </mat-form-field>
              </div>

              <div class="col-4 col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>NIC</mat-label>
                  <input matInput formControlName="ssNic">
                </mat-form-field>
              </div>

              <div class="col-4 col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Specialization</mat-label>
                  <mat-select formControlName="ssSpecification">
                    <mat-option [value]="null" selected>Not Selected</mat-option>
                    <mat-option *ngFor="let spec of specializations" [value]="spec.id">{{ spec.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row search-btn-container">
              <div class="col-4 col-md-4">
                <button mat-raised-button color="primary" class="btn-search search-container-btn"
                        style="margin-left: -5px;" (click)="btnSearchMc()">
                  <mat-icon>search</mat-icon>
                  Search
                </button>
                <button mat-raised-button color="primary" class="btn-clear search-container-btn"
                        (click)="btnSearchClearMc()">
                  <mat-icon>reorder</mat-icon>
                  Clear
                </button>
              </div>
            </div>
          </mat-form>
        </mat-card-content>
      </mat-card>

      <mat-form-field class="table-filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>

      <div class="mat-elevation-z2">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row"> {{ row.title }}. {{ row.firstName }} {{ row.lastName }}</td>
          </ng-container>

          <ng-container matColumnDef="nic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NIC</th>
            <td mat-cell *matCellDef="let row"> {{ row.nic }}</td>
          </ng-container>

          <ng-container matColumnDef="contactNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact No</th>
            <td mat-cell *matCellDef="let row"> {{ row.contactNo }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let row"> {{ row.email }}</td>
          </ng-container>

          <ng-container matColumnDef="specialization">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Specialization</th>
            <td mat-cell *matCellDef="let row"> {{ row.speciality.name }}</td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button class="btn-edit" (click)="fillForm(row)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Activation</th>
            <td mat-cell *matCellDef="let row">
              <mat-slide-toggle (click)="inactive(row)"
                                class="example-margin"
                                [checked]="row.status == 1"
                                [disabled]="row.status == 0">
              </mat-slide-toggle>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100, 200]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
    <div *ngIf="isFormEnable" class="form-container">


      <mat-form [formGroup]="form">
        <div class="col-md-12">
          <h4>Basic Information</h4>
          <hr>
        </div>
        <div class="row" style="padding: 15px 15px">
          <div class="col-2 col-md-2 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <mat-select formControlName="title">
                <mat-option [value]="null" selected>Not Selected</mat-option>
                <mat-option *ngFor="let title of Titles" [value]="title.name">{{ title.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-4 col-md-4 form-field">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName">
            </mat-form-field>
          </div>

          <div class="col-6 col-md-6 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName">
            </mat-form-field>
          </div>

          <div class="col-6 col-md-6 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender">
                <mat-option [value]="null" selected>Not Selected</mat-option>
                <mat-option *ngFor="let gender of genders" [value]="gender">{{ gender.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6 col-md-6 form-field">
            <mat-form-field appearance="outline">
              <mat-label>NIC</mat-label>
              <input matInput formControlName="nic">
            </mat-form-field>
          </div>

          <div class="col-6 col-md-6 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="dob" formControlName="dob" [max]="maxDate">
              <mat-datepicker-toggle matIconSuffix [for]="dob"></mat-datepicker-toggle>
              <mat-datepicker #dob></mat-datepicker>
            </mat-form-field>
          </div>

          <div id="imgpanel" class="col-6 col-md-6 form-field">
            <img [src]="imageurl">
            <input id="userImage" hidden="hidden" (change)="selectImage($event)" Select type="file"
                   formControlName="photo">
            <div style="margin: 10px">
              <label for="userImage" id="selectbutton">Select</label>
              <label id="clearbutton" (click)="clearImage()">Clear</label>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <h4>Contact Information</h4>
          <hr>
        </div>

        <div class="row" style="padding: 15px 15px">
          <div class="col-6 col-md-6 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
          </div>

          <div class="col-6 col-md-6 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Contact No</mat-label>
              <input matInput formControlName="contactNo">
            </mat-form-field>
          </div>

          <div class="col-12 col-md-12 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address">
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-12">
          <h4>Professional Information</h4>
          <hr>
        </div>

        <div class="row" style="padding: 15px 15px">
          <div class="col-6 col-md-6 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Medical License Number</mat-label>
              <input matInput formControlName="medicalLicenseNo">
            </mat-form-field>
          </div>

          <div class="col-6 col-md-6 form-field">
            <mat-form-field appearance="outline">
              <mat-label>License Expiry Date</mat-label>
              <input matInput [matDatepicker]="expDate" formControlName="licenseEXPDate">
              <mat-datepicker-toggle matIconSuffix [for]="expDate"></mat-datepicker-toggle>
              <mat-datepicker #expDate></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-6 col-md-6 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Specialization</mat-label>
              <mat-select formControlName="speciality">
                <mat-option [value]="null" selected>Not Selected</mat-option>
                <mat-option *ngFor="let speciality of specializations" [value]="speciality">{{ speciality.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
        <div class="row" style="padding: 15px 8px">
          <div class="col-6 col-md-6 form-field">
            <mat-form-field appearance="outline">
              <mat-label>Docto Appointment Fee</mat-label>
              <input matInput formControlName="fee" type="number" min="500">
            </mat-form-field>
          </div>
        </div>
      </mat-form>
    </div>
  </mat-card-content>
</mat-card>





